export(chicagoPipeline, esimtateBrownianNoise, estimateDistFun, estimateTechnicalNoise, exportResults, getPvals, getScores, mergeSamples, modifySettings, normaliseBaits, normaliseOtherEnds, plotBaits, readAndMerge, readSample, setExperiment)
